In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import sqlite3
from sqlalchemy import Column, Integer, String, Float

In [2]:
measurments = pd.read_csv('clean_measurements.csv')
measurments.drop("Unnamed: 0", axis=1, inplace=True)

stations = pd.read_csv('clean_stations.csv')
stations.drop("Unnamed: 0", axis=1, inplace=True)

In [3]:
measurments.tail()

           station        date   prcp  tobs
19545  USC00516128  2017-08-19  0.090    71
19546  USC00516128  2017-08-20  0.325    78
19547  USC00516128  2017-08-21  0.560    76
19548  USC00516128  2017-08-22  0.500    76
19549  USC00516128  2017-08-23  0.450    76

In [4]:
stations.tail()

,station,name,latitude,longitude,elevation
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Define Measurement class
class Measurement(Base):
    __tablename__ = 'measurments'
    index = Column(Integer)
    station = Column(String(235), primary_key=True)
    date = Column(String(235))
    prcp = Column(String(235))
    tobs = Column(String(235))

# Define Station class
class Station(Base):
    __tablename__ = 'Stations'
    index = Column(Integer)
    station = Column(String(235),primary_key=True)
    name = Column(String(235))
    latitude = Column(String(235))
    longitude = Column(String(235))
    elevation = Column(String(235))
    location = Column(String(235))
 

# Create Database Connection    
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

Base.metadata.create_all(engine)

from sqlalchemy.orm import Session
session = Session(bind=engine)