In [37]:
#Dependencies
import pandas as pd
import numpy as np

In [34]:
measurements_df = pd.read_csv('hawaii_measurements.csv')
stations_df = pd.read_csv('hawaii_stations.csv')

In [35]:
measurements_df.tail()

           station        date  prcp  tobs
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

In [36]:
stations_df.tail()

,station,name,latitude,longitude,elevation
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [75]:
#Testing Data for missing or NaN values and finding
#the count of percentage if any missing or NaN 
print('Measurements')
measurements_df.isnull().any().any()
print(("Missing data found: "),measurements_df.isnull().any().any())

NaN_station = sum(pd.isnull(measurements_df['station']))
print(("The count of missing/NaN data in Station is : "),NaN_station ) 

NaN_date = sum(pd.isnull(measurements_df['date']))
print(("The count of missing/NaN data in date is : "),NaN_date ) 


NaN_prcp = sum(pd.isnull(measurements_df['prcp']))
print(("The count of missing/NaN data in prcp is : "),NaN_prcp ) 


NaN_tobs = sum(pd.isnull(measurements_df['tobs']))
print(("The count of missing/NaN data in tobs is : "),NaN_tobs ) 

data_total = len(measurements_df['prcp'])
percentage_of_Nan = NaN_prcp / data_total * 100 
print(("the percentage of missing data is : %"),percentage_of_Nan )

Measurements
Missing data found:  True
The count of missing/NaN data in Station is :  0
The count of missing/NaN data in date is :  0
The count of missing/NaN data in prcp is :  1447
The count of missing/NaN data in tobs is :  0
the percentage of missing data is : % 7.40153452685

In [76]:
print('Stations')
stations_df.isnull().any().any()
print(("Missing data found: "),stations_df.isnull().any().any())

Stations
Missing data found:  False

In [ ]:
#measurements_df.to_CSV('clean_measurements.csv')
#stations_df.to_csv('clean_measurements.csv')